<!DOCTYPE html>
<html lang="en">
    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->
<body>
    <!-------------- NAV ---------------->
    <%- include ('./partials/nav.ejs') %>
    <!----------------------------------->
    <h1>Past Work</h1>
    <h3>Below is a list of Companies weve worked with or for in the past</h3>
        <ul>
            <%for(let i= 0; i < pastWork.length; i++){%>
                        <li>
                            <h6><%=pastWork[i].name%></h6>
                                
                                <%=pastWork[i].bio%>
                                <br>
                                <!-- <%=pastWork[i].quote%> -->
                            <br>
                            <br>
                        </li>
                    <%
                }
            %>
        </ul>


</body>
</html>
© 2022 The Bread Company, Inc.
