<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Edit <%=Pokemon.name%></h1>
    <img src="<%=Pokemon.img;%>" alt="<%=Pokemon.name; %>">
    <h3>Info</h3>
    <ul>
        <li>ID: <%=Pokemon.id%></li>
        <li>Name: <%=Pokemon.name%></li>
        <li>Type: <%=Pokemon.type%></li>
    </ul>

    <form action="/pokemon/<%=Pokemon.id%>?_method=PUT" method="POST">
        <input type="name" name="name" placeholder="edit name"/> <br>
        <input type="type" name="type" placeholder="edit type"/><br>
        <input type="submit" value="Submit Changes"/>
        </form>

        <nav>
            <a href="/pokemon">Back to Pokedex</a>
        </nav>
</body>
</html>