<ul id="linkList">
    <li><a href="<%=arrayLinks[0]%>">Books</a></li>
    <li><a href="<%=arrayLinks[1]%>">Classes</a></li>
    <li><a href="<%=arrayLinks[2]%>">Bread Clubs</a></li>
    <li><a href="<%=arrayLinks[3]%>">Bread Festivals, Fairs, Events, or Competitions</a></li>
    <li><a href="<%=arrayLinks[4]%>">Bread News</a></li>
    <li><a href="<%=arrayLinks[5]%>">Bread Tutorials</a></li>
    <li><a href="<%=arrayLinks[6]%>">Bread Recipe</a></li>
    <li><a href="<%=arrayLinks[7]%>">Bread Websites</a></li>
    <li><a href="<%=arrayLinks[8]%>">Bread making equipment and tools</a></li>
    <li><a href="<%=arrayLinks[9]%>">Bread related blogs</a></li>
    <li><a href="<%=arrayLinks[10]%>">Millers and Flour suppliers</a></li>            
</ul>